<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="admin.css">
</head>
<body>
    <div class="gar">
        <h1>Admin home</h1>
        <a href="newSong">Add a new song</a>
        <br />
        <a href="viewSongs">View all songs</a>
        <br />
        <a href="createPlaylist">Create Playlist</a>
        <br />
        <a href="viewPlaylists">View all Playlists</a>
    </div>  
</body>
</html>
