<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>
	<table border>
		<thead>
			<tr>
				<th>Name</th>
				<th>Artist</th>
				<th>Genre</th>
				<th>Play</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="song:${songs}">
				<td th:text="${song.name}">			</td>
				<td th:text="${song.artist}">		</td>
				<td th:text="${song.genre}">		</td>
				<td >
					<audio controls>
        				<source th:src="${song.link}" type="audio/mpeg">
    				</audio>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>