<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>myTunes Website</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <header>
      <nav class="container">
        <div class="logo">Tunhub KodNest</div>

        <ul>
          <a href="#hero">
            <li>Overview</li>
          </a>
          <a href="#music">
            <li>Music</li>
          </a>
          <a href="#gift">
            <li>Gift Cards</li>
          </a>
          
          <a href="login">LOGIN</a>
    	<a href="registration">REGISTER</a>

   
          
        </ul>
        
      </nav>
    </header>
    <main>
      <section class="hero-section" id="hero">
        <div class="container">
            <img src="ipad-iphone.png" alt="iphone ipad" />
          
      
        </div>

      </section>
      <section class="music-section" id="music">
        
        <div class="container">
          <h2>
            <span><i class="fa fa-music"></i></span>
            Music
          </h2>
          <h4>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
            veniam nobis, nisi ut expedita, doloribus reprehenderit explicabo
            non velit repellat alias saepe inventore repellendus? Molestias
            suscipit eos tempora? Quae quaerat cumque in veritatis impedit
            dolorum sapiente recusandae minima quo aperiam quam, excepturi quasi
            totam ad quas? Ipsam laudantium soluta delectus!
          </h4>
          <button class="primary-btn">Start Your Trail Now</button>

          <p>
            Orange Music is available in myTunes, and for iOS and Android
            devices.
          </p>
          <div class="ipad-iphone-img">
            <img src="ipad-iphone.png" alt="iphone ipad" />
          </div>
        </div>
      </section>
      <section class="about-music container">
        <h3>The movie and TV collection you always wished for. Granted.</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
            veniam nobis, nisi ut expedita, doloribus reprehenderit explicabo
            non velit repellat alias saepe inventore repellendus? Molestias
            suscipit eos tempora? Quae quaerat cumque in veritatis impedit
            dolorum sapiente recusandae minima quo aperiam quam, excepturi quasi
            totam ad quas? Ipsam laudantium soluta delectus!.
        </p>
        <button class="secondary-btn">Read more</button>
        <div class="mac-img">
          <img src="mac.png" alt="macbook" />
        </div>
      </section>
        <img src="video (1).png" alt="">
        <div class="container">
          <h3>A world of entertainment. Available wherever you are.</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
            veniam nobis, nisi ut expedita, doloribus reprehenderit explicabo
            non velit repellat alias saepe inventore repellendus? Molestias
            suscipit eos tempora? Quae quaerat cumque in veritatis impedit
            dolorum sapiente recusandae minima quo aperiam quam, excepturi quasi
            totam ad quas? Ipsam laudantium soluta delectus!
          </p>
        </div>
      </section>
      <div class="container">
        <section class="gift-section" id="gift">
          <div class="gift-card">
            <img src="gift_card.png" alt="gift card" />
          </div>
          <div class="gift-content">
            <h3>Gift Card</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt
              cum explicabo, excepturi eaque commodi minima quas repellendus
              assumenda facere hic, earum quasi iste asperiores molestiae
              obcaecati laborum, voluptatum alias velit cupiditate! Quae soluta
              sapiente quasi, iusto quam magnam doloribus natus quod eius, rerum
              asperiores aspernatur. Illum neque sequi odit fuga.
            </p>
            <p>Already have an Orange MyTunes Music Gift Card?</p>
            <hr />
            <div>
              <button class="secondary-btn">Redeem</button>
            </div>
          </div>
        </section>
      </div>
    </main>
    <footer>
      <section class="footer-upper">
        <div class="container">
          <div class="footer-links">
            <h4>Shop & Learn</h4>
            <ul>
              <li>Music</li>
              <li>Movies</li>
              <li>Shows</li>
              <li>Apps</li>
              <li>Gift Cards</li>
            </ul>
          </div>
          <div class="footer-links">
            <h4>Orange Store</h4>
            <ul>
              <li>Find a Store</li>
              <li>Today at Orange</li>
              <li>Financing</li>
              <li>Orange Camp</li>
              <li>Order Status</li>
            </ul>
          </div>
          <div class="footer-links">
            <h4>Education & Business</h4>
            <ul>
              <li>Orange & Education</li>
              <li>Shop for Collage</li>
              <li>Orange & Business</li>
              <li>Shop for Business</li>
              <li>Jobs</li>
            </ul>
          </div>
          <div class="footer-links">
            <h4>About Orange</h4>
            <ul>
              <li>Newsroom</li>
              <li>Orange Leadership</li>
              <li>Investors</li>
              <li>Envents</li>
              <li>Contact Orange</li>
            </ul>
          </div>
        </div>
      </section>
      <section class="footer-lower">
        <p>kaif © 2024 Do Some Coding with Kodnest</p>
      </section>
    </footer>
  </body>
</html>
