<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="javascriptreact">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="style.css">

</head>
<body>
     <div class="wrapper">
        <from action = "">
            <h1>Login</h1>

            <div class="input-box">
              <input type="email" placeholder="Email"
              required>
              <i class='bx bxs-user'></i>
            </div>

        <div class="input-box">
           
                <input type="password" placeholder="Password?" required> 
                <i class='bx bxs-lock-alt' ></i>
        
        </div>
         
        <div class="remener-forgot">
            <label>
                <input type="checkbox">Remeber me 
                <a href="#">FROGAT password?</a>
            </label> 
         </div>
            <button type="submit" class="btn">Login</button>
            
            <div class="registter-link">
                <p>Don't have an acconut?
                <a href="#">Register</a></p>
            </div>

         </div>   

        </div>
        </from>
     </div>

</body>
</html>