<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Course</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
<div class="container">
    <h1>Why premium?</h1>
    <p>Text...................</p>
    <form id="payment-form">
        <button type="submit" class="buy-button">BUY</button>
    </form>
</div>

<script>
    $(document).ready(function() {
        $(".buy-button").click(function(e) {
            e.preventDefault();
            var form = $(this).closest('form');
            createOrder();
        });
    });

    function createOrder() {
        $.post("/createOrder")
            .done(function(order) {
                order = JSON.parse(order);
                var options = {
                    "key": "rzp_test_LZn9kTq0XH2NI2",
                    "amount": order.amount_due.toString(),
                    "currency": "INR",
                    "name": "Tune Hub",
                    "description": "Test Transaction",
                    "order_id": order.id,
                    "handler": function (response) {
                        verifyPayment(response.razorpay_order_id, response.razorpay_payment_id, response.razorpay_signature);
                    },
                    "prefill": {
                        "name": "Your Name",
                        "email": "test@example.com",
                        "contact": "9999999999"
                    },
                    "notes": {
                        "address": "Your Address"
                    },
                    "theme": {
                        "color": "#F37254"
                    }
                };
                var rzp1 = new Razorpay(options);
                rzp1.open();
            })
            .fail(function(error) {
                console.error("Error:", error);
            });
    }

    function verifyPayment(orderId, paymentId, signature) {
        $.post("/verify", { orderId: orderId, paymentId: paymentId, signature: signature })
            .done(function(isValid) {
                if (isValid) {
                    console.log("Payment successful");
                } else {
                    console.log("Payment failed");
                }
            })
            .fail(function(error) {
                console.error("Error:", error);
            });
    }
</script>
</body>
</html>
