<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="stylerestion.css">
</head>
<body>
  <div class="wrapper">
	
	<form action="register" method="post">
		<h1 class="h">Registration</h1>
		<label>User name </label>
		<input type = "text" name = "username"/>
		<br><br>
		<label>Email  </label>
		<input type = "email" name = "email"/>
		<br><br>
		<label>Password  </label>
		<input type = "password" name = "password"/>
		<br><br>
		<label>Gender  </label> <br>
		Male<input type = "radio" name = "gender" value = "male"/>
		Female<input type = "radio" name = "gender" value = "female"/>
		Other<input type = "radio" name = "gender" value = "other"/>
		<br><br>
		<label>Role  </label> <br>
		User<input type = "radio" name = "role" value = "admin"/>
		Customer<input type = "radio" name = "role" value = "customer"/>
		<br><br>
		<label>Address  </label>
		<textarea name = "address"></textarea>
		<br><br>
		<input type="submit" />
				
	</form>
</div>
</body>
</html>